<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop class="ChronopostLabel\Loop\ChronopostLabelCheckRightsLoop" name="chronopost.label.check.rights" />
        <loop class="ChronopostLabel\Loop\ChronopostLabelHomeDeliveryExportLoop" name="chronopost.label.export.home.delivery.labels" />
        <loop class="ChronopostLabel\Loop\ChronopostLabelPickupPointExportLoop" name="chronopost.label.export.pickup.point.labels" />
    </loops>

    <forms>
        <form name="chronopost_label_configuration_form" class="ChronopostLabel\Form\ChronopostLabelConfigurationForm" />
        <form name="chronopost_label_select_form" class="ChronopostLabel\Form\ChronopostLabelSelectForm" />
    </forms>

    <hooks>
        <hook id="chronopost.label.config" class="ChronopostLabel\Hook\BackHook">
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back" method="onInTopMenuItem"/>
            <tag name="hook.event_listener" event="order-edit.bill-top" type="back" method="orderEditBillTop"/>
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration"/>
        </hook>
    </hooks>

    <!--<services>
        <service id="chronopost.generate.label.service" class="ChronopostLabel\Service\LabelService">
            <argument type="service" id="event_dispatcher"/>
        </service>

        <service id="picking.chronopost.generate.label.listener" class="ChronopostLabel\EventListeners\GenerateLabelListener">
            <argument type="service" id="chronopost.generate.label.service"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>-->
</config>
